doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= pageTitle
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
    script(
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Press+Start+2P|Racing+Sans+One&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
  body
    include includes/navbar
    header(class="is-centered")
      h1.title.secondaryFont= h1Title
      p.subtitle.secondaryFont= subtitle
    .bodyWrapper
      if welcome
        include includes/welcome
      if about
        include includes/about
      if beers
        include includes/beers
      if games
        include includes/games
      if contact
        include includes/contact
      if upcoming
        include includes/upcoming
      footer
        div(class="columns is-mobile is-multiline is-centered has-text-centered")
          div(class="column is-three-quarters-mobile is-one-third-desktop")
            p.footer-text The Tabletop Tap
            p.footer-text 3394 S Broadway, Englewood, CO 80113
            p.footer-text (720) 287-0155
          div(class="is-three-quarters-mobile is-one-third-desktop" style="margin: 1rem")  
            a(href="https://www.instagram.com/thetabletoptap/" style="margin: 1rem" target="_blank")
              i(class="fab fa-instagram fa-4x")
            a(href="https://www.facebook.com/tabletoptap/" style="margin: 1rem" target="_blank")
              i(class="fab fa-facebook-square fa-4x")
    

  script(src= "./js/navbar.js" type="text/javascript")
  //- We shouldn't need the admin.js, beers, or games here. We should include these with their pug files.
  //- script(src= "/js/admin.js" type="text/javascript")
  //- script(src="/js/beers.js" type="text/javascript")
  //- script(src="/js/games.js" type="text/javascript")