
if game.min_time & game.max_time
  -var pTime = `${game.min_time} - ${game.max_time} mins`
else
  -var pTime = `${game.min_time} mins`

if game.min_players & game.max_players
  -var pCount = `${game.min_players} - ${game.max_players} players`
else
  -var pCount = `${game.min_players} players`

if game.img_original
  -var gameImg = game.img_original
else
  -var gameImg = "/images/boardGameFillerImage.jpg"

div(class="resultDiv column is-two-thirds-mobile is-one-third-tablet is-one-third-desktop")
  p Name: #{game.game_name}
  p Player count: #{pCount}
  p Time commitment: #{pTime}
  p Category: #{game.category}
  .has-text-centered
    a(class= "view-more" id = game.id) More info

//- Modal for each individual card
div(class="modal" id = game.id)
  div.modal-background
  div.modal-card
    header.modal-card-head
      p(class="modal-card-title modal-title" id="modal-game-title") #{game.game_name}
      button(class="delete" aria-label="close" id= game.id)
    section.modal-card-body
      div(id="modalDiv" class="columns is-vcentered is-mobile is-multiline is-centered")
        div(class="column is-one-third-desktop is-full-mobile")
          div(class="has-image-centered")
            img(src= gameImg alt= game.game_name)
        div(class="column is-two-thirds-desktop is-full-mobile")
          p.modal-content Category: #{game.category}
          p.modal-content Rating: #{game.rating}/5
          p.modal-content Players: #{pCount}
          p.modal-content Time commitment: #{pTime}
          p.modal-content Description:
          div(class="modal-content wrapper")
            p(class="modal-content cutLines" id="modalBoardGameDescription") #{game.short_description}
          a(href= game.url alt= game.game_name)
            p(class="has-text-centered" id="view-text") Click to visit game page
    footer(class="modal-card-foot" id="modal-foot")  